.header {
    margin-top: 10px;
}

.panel-comptable {
    border-color: #ff6700;
  }
  .panel-comptable > .panel-heading {
    color: white;
    background-color: #ff6700;
    border-color: #ff6700;
  }
  .panel-comptable > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ff6700;
  }
  .panel-comptable > .panel-heading .badge {
    color: white;
    background-color: #ff6700;
  }
  .panel-comptable > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ff6700;
  }

  .comptable a {
    color: #ff6700;
  }

  .comptable a:hover, a:focus {
      color: #ff4000;
  }

  .comptable li > a:hover {
      background-color: #fbecd5;
  }

  .comptable li.active > a {
      background-color: #ff6700;
  }

  .comptable li.active > a:hover {
      background-color: #ff4000;
  }