.header {
    margin-top: 10px;
}

.panel-comptable {
    border-color: #44475a;
  }
  .panel-comptable > .panel-heading {
    color: white;
    background-color: #44475a;
    border-color: #44475a;
  }
  .panel-comptable > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #44475a;
  }
  .panel-comptable > .panel-heading .badge {
    color: white;
    background-color: #44475a;
  }
  .panel-comptable > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #44475a;
  }

  .comptable a {
    color: #44475a;
  }

  .comptable a:hover, a:focus {
      color: #2f2c3a;
  }

  .comptable li > a:hover {
      background-color: #e4e2ee;
  }

  .comptable li.active > a {
      background-color: #44475a;
  }

  .comptable li.active > a:hover {
      background-color: #2f2c3a;
  }

  /*Colonne refuser*/
  .refus {
    width: 10%;
  }

  /*Padding and margin*/
  .p-t-1 {
    padding-top: 1em;
  }

  .p-b-1 {
    padding-bottom : 1em;
  }

  .p-l-1 {
    padding-left: 1em;
  }

  .p-r-1 {
    padding-right: 1em;
  }

  .p-r-2 {
    padding-right: 2em;
  }

  /*hr {
    border-top-color: transparent;
  }*/